@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

main {
  max-width: 960px;
  margin: 2em auto; }

h1 {
  font-size: 2em;
  color: #652d90; }

b {
  font-weight: bold; }

.info {
  text-align: center;
  padding: 1em 0 0.5em 0;
  margin: 0 0 1em 0; }
  .info a, .info a:visited {
    font-weight: bold; }

.filters-group {
  display: flex; }
  .filters-group .filters {
    flex: 1;
    margin-right: 0.5em; }
    .filters-group .filters:last-child {
      margin-right: 0; }

.filters {
  display: flex;
  margin: 0.5em 0; }
  .filters li {
    flex: 1;
    padding: 1.2em 1em 1em 1em;
    font-size: 0.65em;
    text-transform: uppercase;
    border: 1px solid #aaa;
    border-left: none;
    text-align: center;
    color: #777;
    cursor: pointer; }
    .filters li:first-child {
      border-left: 1px solid #aaa; }
    .filters li:hover {
      background: #361d51;
      color: #fff; }
    .filters li.selected {
      background: #652d90;
      color: #fff; }
  .filters i {
    padding: 0 0.5em; }

.search-input {
  width: 100%;
  padding: 0.5em 1em 0.5em 3em;
  border: 2px solid #ddd;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.search-wrapper {
  position: relative; }
  .search-wrapper:before {
    font-family: "FontAwesome";
    color: #aaa;
    position: absolute;
    top: 0.5em;
    left: 1em;
    content: ""; }

.search-actions {
  float: right;
  margin-top: -0.4em; }
  .search-actions li {
    display: inline-block;
    border: 1px solid #652d90;
    color: #652d90;
    text-align: center;
    text-transform: uppercase;
    padding: 0.9em 1.5em 0.7em 1.5em;
    font-size: 0.65em;
    cursor: pointer; }
  .search-actions .action-search {
    background: #652d90;
    color: #fff; }

a, a:visited {
  color: #000; }
  a:hover, a:visited:hover {
    color: #652d90; }

.results ul {
  text-align: justify; }

.result {
  display: inline-block;
  width: 33%;
  background: #652d90;
  text-align: center;
  color: #fff;
  padding: 4em 1em;
  margin: 1em 0 0 0;
  cursor: pointer;
  position: relative;
  height: 16em;
  overflow: hidden; }
  .result a, .result a:visited {
    color: #fff; }
    .result a:hover, .result a:visited:hover {
      color: #652d90; }
  .result h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0 0 0.5em 0; }
  .result .result-actions {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0.4em 0; }
  .result .result-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 1.5em;
    text-align: left; }
  .result:hover .result-info {
    display: block; }

.result-stats {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  right: 1.5em;
  display: flex; }
  .result-stats li {
    flex: 1;
    margin-right: 0.5em; }
    .result-stats li:last-child {
      margin-right: 0; }
    .result-stats li:first-child {
      flex: 1.5; }
  .result-stats i {
    font-size: 2em; }
  .result-stats h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    margin: 0 0 1em 0; }
  .result-stats .stars i {
    font-size: 1em; }
  .result-stats h1 {
    color: #fff;
    display: inline-block; }

.result-meta {
  font-size: 0.7em;
  text-transform: uppercase;
  line-height: 1.5; }
  .result-meta h5:first-child {
    font-weight: bold; }

.result-description {
  font-size: 0.9em; }

@keyframes checkHighlight {
  0% {
    color: #fff; }
  100% {
    color: #239541; } }
@keyframes starHighlight {
  0% {
    color: #fff; }
  100% {
    color: #efef4c; } }
.fa-check-circle {
  animation-name: checkHighlight;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.stars {
  animation-name: starHighlight;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

header {
  margin: 0 0 1em 0; }
  header img {
    width: 1em;
    margin-right: 0.3em;
    vertical-align: top; }

/*# sourceMappingURL=main.css.map */
